<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.1.1/css/bootstrap.min.css">

</head>
<body>


<form class="text-center" th:action="@{/saveDish}" th:object="${dish}" method="post">

    <input placeholder="DISH NAME" type="text" th:field="*{name}">

    <input placeholder="DISH TYPE" type="text" th:field="*{type}">

    <button type="submit">Create</button>

</form>


</body>
</html>