<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.1.1/css/bootstrap.min.css">

</head>
<body>


<form class="text-center" th:action="@{/saveDish}" th:object="${dish}" method="post">
    <br/>
    <input style="border: black solid 3px" placeholder="DISH NAME" required type="text" th:field="*{name}">
    <input style="border: black solid 3px"    placeholder="DISH TYPE" required type="text" th:field="*{type}">
    <br/>
    <br/>
    <button style="background-color: greenyellow; color: black; font-weight: bold" type="submit">Create</button>
</form>

<a th:href="@{/}" style="text-decoration: none;font-size: 30px"> <---- Back to home page</a>

</body>
</html>