<!DOCTYPE html>
<!--- Thymeleaf import -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <!-- Boot Strap -->
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.1.1/css/bootstrap.min.css"/>

    <title>Home Page</title>
</head>
<body>


<div class="container">
    <h3> food menu</h3>
    <a th:href="@{/addDish}">Add Dish</a>
    <!-- Table -->
    <table class="table table-striped">
        <!-- Table header -->
        <thead style="background-color: darkgray">
        <!-- Table Row -->
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Rating</th>
            <th>Like</th>
            <th>Operations</th>

        </tr>
        </thead>
        <tbody style="background-color: white; font-family: 'Times New Roman';
font-weight: bold; font-size: 20px;">
        <tr th:each="dish : ${dishList}">
            <td th:text="${dish.id}"></td>
            <td th:text="${dish.name}"></td>
            <td th:text="${dish.type}"></td>
            <td th:text="${dish.likes}"></td>
            <td>
                <a th:href="@{/like/{id}(id=${dish.id})}"
                   style="color: red; text-decoration: none; font-size: 20px; a:fon">&hearts; like</a>
            </td>
            <td>
                <a th:href="@{/delete/{id}(id=${dish.id})}" class="btn-danger">delete</a>
                <a th:href="@{/update/{id}(id=${dish.id})}" class="btn-primary">Update</a>

            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/popDb}" method="get">
        <button class="btn-danger" type="submit">Populate Database</button>
    </form>

</div>
</body>
</html>




