<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DISHES OF THE WEEK: MEAT</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.1.1/css/bootstrap.min.css">

</head>
<body>
<table class="table table-striped">
    <div class="h3 text-center">Dish of the week: <span>Meat 🥩</span></div>
    <thead style="border: black solid 1px;">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>TYPE</th>
        <th>RATING</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dish : ${listMeat}" style="border: black solid 1px;">
        <td th:text="${dish.id}"></td>
        <td th:text="${dish.name}"></td>
        <td th:text="${dish.type}"></td>
        <td th:text="${dish.likes}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/dishOfTheWeek}" style="font-size: 30px; text-decoration: none"> Return to dish of the week menu</a>

<br/>
<br/>
<br/>

<h3>SHOPPING LIST</h3>
<table>
    <tbody>
    <tr th:each="ingredient : ${listOfIngredients}">
        <td th:text="${ingredient.name}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>