<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DISHES OF THE WEEK: FISH</title>
</head>
<body>
<table class="table table-dark">
    <thead style="border: black solid 1px;">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>TYPE</th>
        <th>RATING</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dish : ${listFishes}" style="border: black solid 1px;">
        <td th:text="${dish.id}"></td>
        <td th:text="${dish.name}"></td>
        <td th:text="${dish.type}"></td>
        <td th:text="${dish.likes}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>